################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NET/Calc2/obj
/NET/Calc2/bin
